/* CSS file */
global
{
	 color: #DDDDDD;
}

ToolTip
{
	color: #000000;
	background-color: #CCCCCC;
}

DataGrid
{
	header-separator-skin: ClassReference("com.effectiveui.skins.TracHeaderSeperatorSkin");
	textRollOverColor: #FFFFFF;
	rollOverColor: #0077AC;
	selectionColor: #006499;
	textSelectedColor: #FFFFFF;
}

ComboBox
{
	alternatingItemColors:#333333,#555555;
	color:#FFFFFF;
	rollOverColor: #0077AC;
	selectionColor: #006499;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #000000;
	fillColors: #666666,#565656;
	fillAlphas: 1.0, 1.0;
	borderColor: #333333;
}

.gridCombos
{
	alternatingItemColors:#333333,#555555;
	color:#FFFFFF;
	rollOverColor: #0077AC;
	selectionColor: #006499;
	textRollOverColor: #000000;
	textSelectedColor: #FFFFFF;
}

TextInput
{
	backgroundColor:#60605C;
	borderColor: #000000;
	borderStyle: solid;
	backgroundDisabledColor: #333333;
	color:#FFFFFF
}

BarChart
{
	color:#222222;
}

.accordionHeader

{
	fillAlphas: 1.0, 1.0;
	fillColors: #333333, #000000;
	selectedFillAlphas: 1.0, 1.0;
	selectedFillColors: #333333, #000000;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	borderColor: #333333;

}

.themeBox
{
	color: #0077AC;
}

.customButtonStyle {
     cornerRadii: 7, 7, 7, 7;
     borderColors: #333333, #333333;
     overBorderColors: #00DDFF, #00DDFF;
     selectedBorderColors: #00DDFF, #00DDFF;
     borderThickness: 3;
     fillColors: #0099CC, #006699;
     fillAlphas: 1, 0.75;
     fillColorRatios: 245, 250;
     overFillColors: #006699, #0099CC;
     overFillAlphas: 0.5, 0.5;
     overFillColorRatios: 0, 50;
     backgroundDisabledColor: #666666; 
     color: #FFFFFF;
     textRollOverColor: #FFFFFF;
     fontSize: 10;
}

.refreshButton{
	upSkin: Embed("/assets/refresh.png");
	downSkin: Embed("/assets/refresh_down.png");
	overSkin: Embed("/assets/refresh_over.png");
}

